<blockquote>
  <p>From the creators of CraftDelta: The official Chaincraft Fundraiser Token.
  Show your Support and help us creating awesome Blockchain expierences and new projects.
  <br />
  CraftGenesis Token hodlers will be additionally rewarded when the main network launches!
  </p>
  <footer><a href="https://chaincraft.cc/" target="_blank">https://chaincraft.cc/</a></footer>
</blockquote>
